<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资芽网</title>
    <link type="text/css" rel="stylesheet" href="css/base.css" />
    <link type="text/css" rel="stylesheet" href="css/public.css">
    <link type="text/css" rel="stylesheet" href="css/contract.css" />
</head>
<body>
<!-- 头部 -->
<header>
    <div class="wrap">
            <div class="guide">
                <a href="#">我的收藏</a>
                <a href="#">联系客服</a>
            </div>
            <div class="brum_login">
                <a href="#" class="viplog">会员登录</a>
                <a href="#" class="freereg">免费注册</a>
            </div>
            <ul class="nav">
                <li><a href="#">首页</a>|</li>
                <li><a href="#">找信息</a>|</li>
                <li class="current"><a href="#">找服务</a>|</li>
                <li><a href="#">新闻中心</a>|</li>
                <li><a href="#">资芽视频</a>|</li>
                <li><a href="#">合同下载</a></li>
            </ul>
            <div class="login">
                <h1 class="logo"><a href="index.html"><img src="img/logo.png" height="68" width="172" alt="首页" /></a></h1>
                <p class="logo_word">全球不良资产超级综服平台<p>
                
                <span class="arr"></span>
            </div>
            <div class="arrow"></div>
            <div class="hotline">服务热线：<br/>
                <span>400-000-9999</span>
            </div>
    </div>
</header>
<!-- 二级banner -->
<div class="find_service">
    <ul>
        <li></li>
    </ul>
</div>
<!-- 主体 -->
<div class="contract wrap">
<!-- 面包屑导航 -->
    <div class="contract_bread">
        <a href="index.html">首页</a>&gt;<span>合同预览</span>
    </div>
<!-- 主体内容 -->
    <div class="preview">
        <div class="pre_left">
            <h2>财产保全申请书</h2>
            <p>申请人：（写明姓名、名称、联系方式、住所地等基本情况）。</p>
            <p>被申请人：（写明姓名、名称、联系方式、住所地等基本情况）。</p>
            <p>上列申请人与被申请人，因<span></span>纠纷，于<span></span>年<span></span>月<span></span>日向你院起诉在案（或申请人即将提起诉讼），被申请人有毁损（或隐匿）诉讼争议标的物的可能性（或者其他原因），为此，申请给予实施财产保全。 </p>
            <p>请求事项：......</p>
            <p>事实与理由：......</p>
            <p>此致</p>
            <p>****人民法院</p>
            <p class="sign">申请人：（签章）</p>
            <p class="year">年<span></span>月<span></span>日</p>
        </div>
        <div class="pre_right">
            <h2>法律文书样式</h2>
            <div class="pre_ulist">
                <ul>
                    <li><a href="javascript:;">财产保全申请书</a></li>
                    <li><a href="javascript:;">法定代表人省份证</a></li>
                    <li><a href="javascript:;">民事起诉单位（单位诉单位）</a></li>
                    <li><a href="javascript:;">民事起诉单位（单位诉个人）</a></li>
                    <li><a href="javascript:;">民事起诉单位（个人诉个人）</a></li>
                    <li><a href="javascript:;">民事起诉单位（个人诉单位）</a></li>
                    <li><a href="javascript:;">民事上述状</li>
                    <li><a href="javascript:;">授权委托书（法人或其他组织哦那个）</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
<footer>
    <div class="footer">
        <div class="nav_foot">
            <a href="#">首页</a>|<a href="#">关注我们</a>|<a href="#">联系我们</a>|<a href="#">人才招聘</a>|<a href="#">商务合作</a>|<a href="#">法律声明</a>|<a href="#">意见反馈</a>
            <p>经营许可证：京ICP证150904号  Copyright      2016 ziyawang.com</p>
        </div>
        <div class="conection">
            <p class="con_ziya">联系资芽</p>
            <p class="tel"><span></span>Tel：400 - 000 - 9999</p>
            <p class="fax"><span></span>Fax：+86 10 - 1234 5678</p>
            <p class="address">总部地址：<br>北京市海淀区中关村国际创客中心A座725</p>
        </div>
        <img src="img/footer.png" class="erwei">
    </div>
</footer>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/contract.js"></script>
</body>
</html>