@extends('layouts.uhome')
@section('content')
<link type="text/css" rel="stylesheet" href="{{url('/css/fidetails.css')}}" />
<!-- 右侧详情 -->
    <div class="main_right">
        <div class="breadcrumb_nav"><a href="index.html">首页</a>&gt;<a href="#">找信息</a>&gt;<a href="#">精选信息</a>&gt;<span>资产包转让</span></div>
        <div class="content_middle">
            <div class="abstract">
                <div class="abstract_info fi_abstractinfo">
                    <a href="#" class="blue_color">信息类型：资产包转让</a>
                    <div class="fi_time">2016-06-29</div>
                    <p class="people fi_people"><span class="grab"><em>188</em>人已抢单</span><span class="visited">浏览数：<em class="yellow_color">1177</em>人</span></p>
                    <p class="line_info">
                        <span>编号：FW1004</span><span>地区：北京</span><span>金额：<em class="yellow_color">500万</em></span>
                    </p>
                    <p class="line_info"><span>来源：广发银行</span><span>转让价：<em class="yellow_color">300万</em>元</span><span>信息完整度：<em class="degree"></em></span></p>
                    <div class="ai_info">
                        <dl>
                            <dt>语音信息：</dt>
                            <dd class="voice_info"><a href="#"></a><span>5分22秒</span></dd>
                            <dt>文字信息：</dt>
                            <dd>该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行该资产包来源于广发银行</dd>
                            <dt>清单下载：</dt>
                            <dd><button>下载</button></dd>
                        </dl>
                    </div>
                </div>
                <a href="#" class="much applyorder">查看抢单人</a>
                <div class="share fi_share">
                    <a href="#" class="collect"><em></em><span>收藏</span></a><a href="#"><em></em>分享</a>
                </div>
            </div>
            <div class="cb_intro">
                <h2 class="pingzheng">凭证信息</h2>
                <div class="service_ceti">
                    <img src="img/zhanwei02.png" />
                    <img src="img/zhanwei03.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
@endsection