/*初始化 reset*/
body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,td,textarea,th,ul{margin:0;padding:0;}
body,button,input,select,textarea{font:14px/1.5 "Microsoft Yahei" ,\5b8b\4f53,sans-serif;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}
em,i{font-style:normal;}
ol,ul{list-style:none;}
a{text-decoration:none; color:#666666;}
a:hover{text-decoration:none; color:#f3c91f;}
img,input{border:none;}
img{ display:block;}
textarea{resize:none;}
a,input,button,select,textarea{outline:none;}
a,button{cursor:pointer;}
/*清除浮动*/
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.wrap{width: 1200px;margin:0 auto;position: relative;}
/*footer*/
.agree{font-size: 12px;color: #3a3a3a;}
.agree a,.freelog{display: inline-block;width: 12px;height: 12px;background: url(../img/right.png) no-repeat;margin-right: 5px;}
.agree a{margin-left:10px;}
.agree .on,.forget .on{background: url(../img/right_cl.png) no-repeat;}
.white_cube{position: absolute;width: 24px;height: 24px;background: url(../img/white.png) no-repeat;bottom: 0;right: 0;}
.enter_input input:-moz-placeholder,.login_tab_content input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #e48013;  
}

.enter_input input::-moz-placeholder,.login_tab_content input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #e48013;
}

.enter_input input:-ms-input-placeholder,
textarea:-ms-input-placeholder,.login_tab_content input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #e48013;
}

.enter_input input::-webkit-input-placeholder,.login_tab_content input::-webkit-input-placeholder {
    color: #e48013;
}
input[type=button], input[type=submit], input[type=file], button {-webkit-appearance: none; } 
/*iconfont*/
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.temp ul li a{display: block;background: #ffda3f url(../img/member.jpg) no-repeat center top;height: 296px;}
.temp ul li{background: #ffda3f!important;}