/* 
* @Author: anchen
* @Date:   2016-07-27 14:51:29
* @Last Modified by:   anchen
* @Last Modified time: 2016-07-27 16:48:19
*/
body{overflow:auto;}
.news_box{background:#ccc;width: 1569px;margin:0 auto;position: relative;left:-181px;overflow: hidden;}
.news_box ul{overflow: hidden;width: 4785px;position: relative;}
.news_complete{background:#666;height: 400px;}
.news_com_content{color:#fff;display: block;}
.news_com_content p{color:#333;}
.news_box ul li{float: left;width: 293px;height: 400px;margin-right:26px;}
/*.news_box ul li:nth-child(5n+5){margin-right: 0;}*/
.li2 .news_top{margin-bottom: 20px;background:#f90;}
.li3 .news_bottom,.li5 .news_bottom{margin-bottom: 20px;}
.li5 .news_top{background:#ffecb6;}
.li3 .news_top{background:#9bb4fb;}
.news_bottom{position: relative;}
.news_bottom span{position: absolute;bottom:0px;left:0px;width: 293px;background:#000;color:#fff;}
.news_box ul li img{width: 293px;height: 190px;}
.news_box .news_top,.news_box .news_bottom{height: 190px;width: 293px;}
.left_cover{height:400px;position: absolute;top: 0;width:100%;background:rgba(0,0,0,0.5);left:-1088px;}
.right_cover{height: 400px;position: absolute;top: 0;width: 100%;right:-1095px;background:rgba(0,0,0,0.5);}
.left_cover span,.right_cover span{display: block;width: 50px;height: 50px;border-radius: 50%;background:#0ff;position: absolute;top: 50%;cursor:pointer;}
.left_cover span{right:0;}
.right_cover span{left: 0;}
.ol{overflow: hidden;}
.ol li{float: left; width: 10px;height: 10px;background:#f00;margin:20px;}
.current{}