/*banner*/
.find_service ul li{background:#ffda3f url(../img/service01.jpg) no-repeat center top;height: 296px;overflow: hidden;}
.breadcrumb_nav{padding: 37px 0 10px;}
.breadcrumb_nav a,.breadcrumb_nav{color:#c1c1c1;}
.breadcrumb_nav a:hover{color: #333;}
.breadcrumb_nav span{color: #333;}
.content_middle{overflow: hidden;}
.abstract{float: left;border: 1px solid #ededed;background: #f7f7f7;width: 920px;height: 255px;position: relative;}
.abstract_info{color:#898989;font-size: 12px;padding: 30px 25px 0 25px;}
.abstract_info dl{overflow: hidden;border-top: 1px solid #e5e5e5;margin-top: 15px;}
.abstract_info dl dt,.abstract_info dl dd{float: left;}
.abstract_info dl dd{margin:0 30px 0 0;}
.abstract_info .yellow_color{color:#ffa000;}
.abstract_info .blue_color{color:#333;font-size: 14px;}
.abstract_info .blue_color:hover{color: #61c3d0;}
.abstract_info .visited{color:#666;background:url(../img/icon.png) no-repeat 4px -431px;padding:0 0 0px 24px;margin-top: 20px;}
.abstract_info dl,.abstract_info p{padding-top: 20px;}
.much{color:#fff;height:24px;line-height:24px;background:#ffa000;border-radius: 20px;position: absolute;padding: 0 12px;top: 65px;right: 50px;font-size: 12px;}
.share{position: absolute;right: 50px;bottom: 10px;}
.share a{display: inline-block;font-size: 12px;color: #999;}
.share a.collect{margin-right: 20px;float: left;}
.share a.collect em{background-position: 0 0;}
.share a em{display: inline-block;width: 28px;height: 28px;background: url(../img/fsicon.png) no-repeat 5px -34px;vertical-align: middle;}
/*用户信息*/
.userinfo{width: 249px;height: 257px;background: #c3c0b2;float: right;}
.userinfo h2{position: relative;height: 36px;line-height:36px;width: 174px;color: #fff;background: #72706e;font-size: 20px;padding:0 0 0 75px;font-weight: normal;word-spacing:5px; letter-spacing: 3px;}
.userinfo h2 em{position: absolute;background: #72706e url(../img/fsicon.png) no-repeat 0 -68px;width: 40px;height: 22px;left: 27px;top: 6px;}
.toux_pic{display: block;height: 85px;width: 85px;border-radius: 50%;border: 2px solid #ffa000;overflow: hidden;background: #fff;margin: 15px auto 0;}
.userinfo img{display: block;margin: 0px auto 0;width: 85px;height: 85px;border-radius: 50%;}
.userinfo a{font-weight:bold;display: block;width: 180px;height: 30px;line-height: 30px;text-align: center;color: #ffa000;border-radius: 20px;border: 1px solid #ffa000;background: #fff;margin: 0px auto;margin-top: 15px;word-spacing:5px; letter-spacing: 3px;}
.userinfo a:hover{box-shadow: 0 1px 3px #999;}
.userinfo a.chat{position: relative;padding-left: 30px;width: 150px;}
.userinfo a.chat i{position: absolute;width: 20px;height: 20px;background: url(../img/fsicon.png) no-repeat 0 -108px;top: 7px;left: 65px;}
/**/
.cb_intro h2{padding: 20px 0;font-size: 18px;color: #333;}
.service_details,.service_ceti{width: 920px;border: 1px solid #ededed;}
.service_details{padding: 25px 25px;box-sizing:border-box;-moz-box-sizing:border-box;}
.service_details{font-size: 16px;line-height: 38px;color: #333;}
.service_ceti{padding-top: 48px;}
.service_ceti img{display: block;margin:0 auto;margin-bottom: 96px;max-width: 100%;box-shadow: 0 0 10px #888;}
/**/
.content_bottom{overflow: hidden;margin-bottom: 84px;}
.cb_intro{float: left;}
/*右侧*/
.pic_info{width:250px;float: right;padding-top: 67px;}
.pic_info h2{height: 40px;line-height:40px;width: 222px;color: #999;background: #eee;font-size: 20px;padding:0 0 0 27px;font-weight: normal;word-spacing:5px; letter-spacing: 3px;}
.pic_info h2 em{display: inline-block;background: url(../img/icon.png) no-repeat 0 -455px;width: 50px;height: 21px;vertical-align: middle;}
.pic_info ul li{position: relative;/*margin-bottom: 40px;*/width: 245px;height: 290px;border: 2px dashed #eee;border-top: 0 none;padding:10px 0;}
.pic_info ul li .picinfo_content{width: 222px;padding: 8px 0 0 11px;}
.pic_info ul li img{display: block;margin:0px auto;width: 220px;height: 147px;}
.picinfo_content h3{font-size: 18px;color: #333;font-weight: normal;padding-bottom: 3px;word-spacing:5px; letter-spacing: 3px;overflow: hidden;}
.picinfo_content h3 .pc_title{border-bottom: 1px dashed #fdd000;float: left;}
.picinfo_content h3 .dot{width: 5px;height: 5px;background:#fdd000;border-radius: 50%;float: left;margin: 25px 0 0 2px;}
.picinfo_content h4{font-size: 16px;color: #999;font-weight: normal;margin: 0px;}
.picon_intro{color: #666;font-size: 12px;line-height: 20px;}
.look{position: absolute;bottom: 11px;right: 11px;width: 66px;height: 21px;line-height:21px;text-align:center;background: #eebb00;color: #fff;border-radius: 5px;}
.look:hover{color: #fff;text-decoration: underline;}
/*ie7兼容*/
.service_details{*+width: 870px;}