.find_service ul li {background: #ffda3f url(../img/junior_banner.jpg) no-repeat center top;height: 296px;overflow: hidden;}
.member-tit{font-weight: normal;color: #333;width: 892px;border-bottom: 3px solid #c0c0c0;margin-top: 42px;margin-bottom: 30px;}
.member-tit-cap{width: 108px;padding-left:25px;height: 35px;line-height: 35px;display: block;font-size: 18px;color:#333;letter-spacing: 3px;background:-webkit-linear-gradient(top,#efefef,#f4f4f4,#ffffff);background:-moz-linear-gradient(top,#efefef,#f4f4f4,#ffffff);background:-ms-linear-gradient(top,#efefef,#f4f4f4,#ffffff);background:linear-gradient(top,#efefef,#f4f4f4,#ffffff);border:1px solid #c2c2c2;border-bottom: 0 none;border-radius: 10px 10px 0 0;box-shadow: 0 2px 0 #fff inset;}
.member-tips{padding: 10px 0 10px 40px;width: 398px; border: 1px solid #c2c2c2; border-radius: 10px; text-align: justify; color: #333; font-size: 16px; line-height: 28px; position: relative;color:#ff3b3b;}
.member-tips:before{border: 16px solid transparent;border-bottom-color: #c2c2c2;position: absolute;top: -32px;left: 32px;content: "";border-left-width: 8px;border-right-width: 8px;left: 59px;}
.member-tips:after{border: 17px solid transparent;border-bottom-color: #fff;position: absolute;top: -31px;left: 32px;content: "";border-left-width: 8px;border-right-width: 8px;left: 59px;}
.member-type{width: 890px;border: 1px solid #ccc;border-radius: 5px;margin: 30px 0 60px;}
.member-type-tit{font-size: 16px;color:#000;height: 52px;line-height: 52px;margin: 0 8px;border-bottom: 1px solid #ccc;padding:0 28px 0 16px;}
.member-cur{float: left;}
.member-cur span{float: left;}
.member-cur a,.member-icon{display: block;float: left;width: 40px;height: 34px;background:url(../img/member_icon.png) no-repeat 0 0;margin: 12px 8px 0 0;}
.member-cur .qi,.qi{background-position: -47px 0;}
.member-cur .gu,.gu{background-position: -94px 0;}
.member-cur .rong,.rong{background-position: -141px 0;}
.member-cur .ge,.ge{background-position: -188px 0;}
.member-cur .svip,.svip{background-position: -235px 0;}
.member-search{color:#ff3b3b;float: right;}
.member-search:hover{color:#f00;text-shadow: 0 1px 0 #eee;}
.layui-layer-tips .layui-layer-content span{color:#000;}
.member-table{padding: 23px 26px;font-size: 16px;}
.member-table table{border-collapse:collapse;}
.member-privil{display: inline-block;background:url(../img/member_btn1.png) no-repeat;text-align: center;color:#fff;line-height: 31px;width: 111px;height: 33px;cursor: pointer;}
.member-charge{background:url(../img/member_btn.png) no-repeat;}
.member-review{background:url(../img/member_btn2.png) no-repeat;}
.member-success{background:url(../img/member_btn3.png) no-repeat;}
.member-failed{background:url(../img/member_btn4.png) no-repeat;}
.member-charge,.member-review,.member-success,.member-failed{display: inline-block;width: 103px;height: 35px;line-height: 33px;text-align: center;color:#fff;}
.member-privil:hover,.member-charge:hover,.member-review:hover,.member-success:hover,.member-failed:hover{color:#fff;}
.member-privil:active,.member-charge:active,.member-review:active,.member-success:active,.member-failed:active{margin-top: 2px;}
.member-fee{display: inline-block;width: 156px;height: 57px;line-height: 57px;border: 1px solid #c0c0c0;text-align: center;position: relative;margin: 0 10px;color:#000;}
.member-fee i{display: none; position: absolute; width: 26px; height: 15px; background: url(../img/zhifu.png) no-repeat -485px -54px; bottom: 0; right: 0;}
.member-body .current{border: 2px solid #ffad00;}
.member-body .current i{display: block;}
.member-head tr{border-top: 1px solid #d8d8d8;height: 34px;}
.member-body tr,.member-head tr{border-bottom: 1px solid #d8d8d8;}
.member-body .member-icon{margin:0 auto;float:none;}
.member-body p{text-align: center;font-size: 12px;margin-top: 3px;}
.mem1{width: 117px;border-left: 1px solid #d8d8d8;border-right: 1px solid #d8d8d8;}
.mem2{padding: 0 22px;border-right: 1px solid #d8d8d8;}
.mem4{padding: 0 22px;border-left: 1px solid #d8d8d8;border-right: 1px solid #d8d8d8;}
.mem3{padding: 16px 19px;}
.privilege-tit{font-size: 35px;color:#404040;width: 500px;border-top: 2px solid #fdd000;margin:0 auto;text-align: center;height: 48px;padding: 20px 0 10px;}
.privilege-list{width: 710px;margin:0 auto;border-top: 1px solid #fdd000;padding-top: 40px;}
.privilege-list li{float: left;width: 50%;position: relative;margin-bottom: 48px;}
.privilege-list li:nth-child(odd){width: 45%;margin-right: 5%;}
.privilege-img{position: absolute;left: 0;top: 0;}
.privilege-rt{padding-left: 72px;padding-top: 5px;color:#404040;font-size: 14px;text-align: justify;}
.privilege-rt strong{font-size: 16px;display: block;}
.layer-member .layui-layer-btn{text-align: center;margin-top: -10px;padding-bottom: 30px;}
.layer-member .layui-layer-btn .layui-layer-btn0{background:#ffca00;border: none;width: 124px;height: 34px;line-height: 34px;text-align: center;border-radius: 20px;font-weight: bold;font-size: 16px;}
.layer-member .layui-layer-btn0:hover{background:#ffad00;box-shadow: 0 1px 0 #ccc;}
/*server*/
.server-star{float: left;overflow: hidden;margin-top: -5px;}
.server-star{float: left;overflow: hidden;margin-top: -5px;}
.server-star a{display: block;float: left;width: 28px;height: 28px;background:url(../img/server_lticon_light_new.png) no-repeat 0 -48px;}
.server-star .shidi{background-position: -37px -48px;}
.server-star .shipin{background-position: -74px -48px;}
.server-star .nuo{background-position: -112px -48px;}
.server-star .sanzh{background-position: -149px -48px;}
.server-star .server-jin{background-position: 0 0;}
.server-star .server-shidi{background-position: -37px 0;}
.server-star .server-shipin{background-position: -74px 0;}
.server-star .server-nuo{background-position: -112px 0;}
.server-star .server-sanzh{background-position: -149px 0;}
.member-head .ser4{padding: 16px 0;}
.ser1,.ser2,.ser3,.ser4{width: 152px;text-align: center;border-left: 1px solid #d8d8d8;border-right: 1px solid #d8d8d8;}
.ser5{width: 200px;text-align: center;border-right: 1px solid #d8d8d8;}
.ser3 span{display: block;width: 57px;height: 57px;background:url(../img/server_gticon.png) no-repeat 0 0;margin: 20px auto;}
.ser3 .server-gt-shidi{background-position: 0 -59px;}
.ser3 .server-gt-shipin{background-position: 0 -118px;}
.ser3 .server-gt-nuo{background-position: 0 -177px;}
.ser3 .server-gt-sanzh{background-position: 0 -236px;}
.server-content{width: 710px;margin:0 auto;border-top: 1px solid #fdd000;text-align: justify;padding:30px 5px;font-size: 22px;color:#404040;letter-spacing: 1px;}
.server-tips{width: 720px;margin:0 auto;color:#dd0000;font-size: 18px;padding-bottom: 25px;text-align: justify;}

