.find_service ul li{background:#ffda3f url(../img/junior_banner.jpg) no-repeat center top;height: 296px;overflow: hidden;}
.news_bread{color: #999;font-size: 20px;padding-bottom: 15px;height: 30px;border-bottom: 1px solid #ededed;width: 750px;}
.news_bread a{color:#999;}
.news_bread span{color:#333;}
/*新闻左侧列表*/
.news{overflow: hidden;padding-top: 40px;}
.news_left{float: left;width: 750px;}
.nl_content ul{width: 750px;}
.nl_content ul li{padding:20px 10px 20px 145px;position: relative;line-height: 26px;border-bottom: 1px solid #ededed;}
.nl_content ul li .nlc_img{width: 128px;height: 128px;border: 1px solid #ededed;position: absolute;top: 20px;left: 0;}
.nl_content ul li .nlc_time{font-size: 12px;color:#999;}
.nl_content ul li .nlc_time i{margin-left: 50px;}
.nl_content ul li .nlc_title,.nrc_fisrt .nlc_title{font-size: 16px;font-weight: normal;}
.nl_content ul li .nlc_title a,.nrc_fisrt .nlc_title a{color:#333;}
.nl_content ul li .nlc_title a:hover{color:#fecf3d;}
.nl_content ul li .nlc_abstr,.nrc_fisrt .nrc_abstr{color:#666;}
/*新闻右侧列表*/
.news_right{width: 402px;float: right;}
.news_com{margin-bottom: 40px;}
.news_com .nrc_title{color:#999;}
.news_com .nrc_title a{color:#01a6bc;font-size: 16px;font-weight: normal;}
.news_com .nrc_fisrt{padding:15px 0 5px 105px;position: relative;}
.nrc_fisrt .nrc_img{width:96px;height:96px;position: absolute;top: 15px;left: 0;}
.news_com .nrc_title{height:45px;border-bottom: 1px solid #58baca;}
.news_com .nrc_title span{display: block;font-weight: normal;}
.nrc_fisrt .nrc_abstr{line-height: 24px;}
.nrc_list{}
.nrc_list li{padding:9px 0 9px 30px;border-bottom: 1px dotted #bfbfbf;background:url(../img/squre.png) no-repeat 18px 20px;}
/*新闻详情页面*/