.find_service ul li{background:#ffda3f url(../img/junior_banner.jpg) no-repeat center top;height: 296px;overflow: hidden;}
.mr_para{color:#999;}
.main_right h2.pt0{padding-top:0px;}
.main_right .warning{color:#f00;}
.mr_para{padding:20px 28px 20px 52px;border-bottom: 1px solid #ededed;}
.icon_menu{overflow: hidden;padding-left: 40px;padding-bottom: 24px;border-bottom: 1px solid #ededed;margin-bottom: 90px;}
.icon_menu a{display: block;float: left;width: 146px;margin-left: 16px;text-align: center;margin-top: 20px;color:#333;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;}
.icon_menu a:hover{color:#61c3d0;}
.icon_menu a span{display: block;width: 146px;height: 128px;background:#e5e5e5;margin-bottom: 14px;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s; border-radius:10px;}
.icon_menu a:hover span{background:#61c3d0;}
.icon_menu a .sp1{background:#D5D5D5 url(../img/img01.png) no-repeat center center;}
.icon_menu a .sp2{background:#D5D5D5 url(../img/img02.png) no-repeat center center;}
.icon_menu a .sp3{background:#D5D5D5 url(../img/img03.png) no-repeat center center;}
.icon_menu a .sp4{background:#D5D5D5 url(../img/img04.png) no-repeat center center;}
.icon_menu a .sp5{background:#D5D5D5 url(../img/img05.png) no-repeat center center;}
.icon_menu a .sp6{background:#D5D5D5 url(../img/img06.png) no-repeat center center;}
.icon_menu a .sp7{background:#D5D5D5 url(../img/img07.png) no-repeat center center;}
.icon_menu a .sp8{background:#D5D5D5 url(../img/img08.png) no-repeat center center;}
.icon_menu a .sp9{background:#D5D5D5 url(../img/img09.png) no-repeat center center;}
.icon_menu a .sp10{background:#D5D5D5 url(../img/img10.png) no-repeat center center;}
.icon_menu a .sp11{background:#D5D5D5 url(../img/img11.png) no-repeat center center;}
.icon_menu a .sp12{background:#D5D5D5 url(../img/img12.png) no-repeat center center;}
.icon_menu a:hover .sp1{background:#61c3d0 url(../img/img011.png) no-repeat center center;}
.icon_menu a:hover .sp2{background:#61c3d0 url(../img/img022.png) no-repeat center center;}
.icon_menu a:hover .sp3{background:#61c3d0 url(../img/img033.png) no-repeat center center;}
.icon_menu a:hover .sp4{background:#61c3d0 url(../img/img044.png) no-repeat center center;}
.icon_menu a:hover .sp5{background:#61c3d0 url(../img/img055.png) no-repeat center center;}
.icon_menu a:hover .sp6{background:#61c3d0 url(../img/img066.png) no-repeat center center;}
.icon_menu a:hover .sp7{background:#61c3d0 url(../img/img077.png) no-repeat center center;}
.icon_menu a:hover .sp8{background:#61c3d0 url(../img/img088.png) no-repeat center center;}
.icon_menu a:hover .sp9{background:#61c3d0 url(../img/img099.png) no-repeat center center;}
.icon_menu a:hover .sp10{background:#61c3d0 url(../img/img100.png) no-repeat center center;}
.icon_menu a:hover .sp11{background:#61c3d0 url(../img/img101.png) no-repeat center center;}
.icon_menu a:hover .sp12{background:#61c3d0 url(../img/img102.png) no-repeat center center;}