.find_service ul li{background:#ffda3f url(../img/junior_banner.jpg) no-repeat center top;height: 296px;overflow: hidden;}
.illustrate{color: #999;padding: 20px 0 20px 55px;line-height: 27px;}
.illustrate span{color: #f00;}
.main_right .explain{border-bottom: 1px solid #e5e5e5;}
/*列表框*/
.explain_choices{padding: 20px 0 45px;margin-bottom: 45px;border-bottom: 1px solid #e5e5e5;}
.ec{margin-bottom: 20px;}
.ec .ec_left{float: left;width: 155px;color: #333;text-align: right;margin-right: 10px;height: 32px;line-height: 32px;}
.ec .ec_left em{color: #f00;margin-right: 6px;}
.ec_right{float: left;position: relative;}
.ec_right input,.ec_right select{border: 1px solid #e5e5e5;width: 220px;height: 32px;line-height: 32px;}
.ec_right select{color: #999;}
.ec_right textarea{width: 378px;height: 88px;border: 1px solid #e5e5e5;}
.ec_right .add_voice{width: 156px;height: 36px;background: url(../img/yuyin.png) no-repeat center top;border:0 none;color: #999;padding-left: 20px;}
.ec_right .up_pic{width: 156px;height: 36px;line-height: 36px;color: #fff;border-radius: 30px;background: #ffca00;font-weight: bold;letter-spacing: 1px;}
.ec_pleft{float: left;font-size: 12px;color: #999;margin-left: 10px;line-height: 20px;margin-top: 7px;}
.ecp_text{width: 270px;}
.ec_right .enter_box{width: 156px;height: 36px;margin-right: 20px;}
.upload{height: auto;}
.ec .ecp_word{margin-left: 165px;}
.image_container{display: none;}
.up_pic,.uf_file{position: absolute;left: 0;top: 0;}
.up_pic2,.uf_file2{opacity: 0;}
.upfile .uf_file{left: 176px;width: 62px;height: 23px;line-height:23px;text-align:center;border-radius: 5px;background: #eee;border: 1px solid #dfdfdf;color: #646464;font-weight: normal;top: 4px;}
.upfile{width: 240px;} 
.upfile .enter_box{background: #eeeeee;box-shadow: 0 1px 3px #ccc inset;height:30px; }
.ecp_last{margin-top: -7px;}
.city select{height: 32px;line-height: 32px;width: 108px;border: 1px solid #e5e5e5;color: #999;}
.fabu{display: block;width: 134px;height: 42px;border-radius: 30px;line-height: 42px;letter-spacing: 3px;color: #fff;background: #ffca00;margin: 0 auto 45px;border:0 none;font-size: 16px;}
