<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>充值记录</title>
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/releasehome.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<!-- 二级banner -->
<div class="find_service temp">
    <ul>
        <li><a href="http://ziyawang.com/course"></a></li>
    </ul>
</div>
<!-- 个人中心 -->
<div class="userContent clearfix">
    <!-- 个人中心侧边栏 -->
    <div class="ucLeft">
        <h2>个人中心</h2>
        <div class="ucleftHead">
            <a href="http://ziyawang.com/ucenter/safe"><img id="avatar" src="" /></a>
            <span id="nickname"></span>
        </div>
        <!-- ps: 有新的系统消息时redTips显示，没有新消息时隐藏 -->
        <div class="ucleftMiddle">
            <a href="http://ziyawang.com/ucenter/message" class="sysInfo" title="系统消息"><i class="iconfont">&#xe61c;</i><span id="msg"></span></a>
            <a href="http://ziyawang.com/ucenter/money" class="money" title="芽币金额"><span id="account"></span></a>
        </div>
        <div class="ucleftBottom">
            <ul>
                <li id="pubpro"><a href="http://ziyawang.com/ucenter/index"><i class="iconfont">&#xe61e;</i>发布信息</a></li>
                <li id="mypro"><a href="http://ziyawang.com/ucenter/mypro"><i class="iconfont">&#xe61a;</i>我的发布</a></li>
                <li id="confirm"><a href="http://ziyawang.com/ucenter/confirm"><i class="iconfont">&#xe60f;</i>服务方认证</a></li>
                <li id="myrush" style="display:none;"><a href="http://ziyawang.com/ucenter/myrush"><i class="iconfont">&#xe619;</i>我的约谈</a></li>
                <li id="money"><a href="http://ziyawang.com/ucenter/money"><i class="iconfont chongzhi">&#xe61f;</i>充值中心</a></li>
                <li id=""><a href="javacript:;"><i class="iconfont">&#xe6af;</i>会员中心</a></li>
                <li id="safe"><a href="http://ziyawang.com/ucenter/safe"><i class="iconfont">&#xe61d;</i>安全中心</a></li>
                <li id="mycollect"><a href="http://ziyawang.com/ucenter/mycollect"><i class="iconfont">&#xe61b;</i>我的收藏</a></li>
            </ul>
        </div>
    </div>
    <div class="ucRight">
        <div class="ucRightCon member-sys">
            <h3 class="member-title">
                <a href="javascript:;">充值记录</a>
            </h3>
            <div class="ucrightTop member-record">
                <div class="member-rec-top">
                    <span class="member-rec-lt">会员充值记录</span>
                    <a href="member.html" class="member-back"></a>
                </div>
                <div class="tradeList">
                    <div class="tradeTitle">
                        <span class="td1">编号</span><span class="td2">操作记录</span><span class="td3">时间</span>
                    </div>
                    <ul class="tradeUl" id="billlist">
                        <li>
                            <span class="td1">98765564655</span>
                            <span class="td2">充值资产包-季费（3个月）30000元</span>
                            <span class="td3">2016-06-11</span>
                        </li>
                        <li>
                            <span class="td1">98765564655</span>
                            <span class="td2">充值资产包-年费（12个月）90000元</span>
                            <span class="td3">2016-06-11</span>
                        </li>
                        <li>
                            <span class="td1">98765564655</span>
                            <span class="td2">充值资产包-年费（12个月）90000元</span>
                            <span class="td3">2016-06-11</span>
                        </li>
                        <li>
                            <span class="td1"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>