<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>法拍资产—土地</title>
        <link rel="stylesheet" type="text/css" href="css/base.css" />
        <link rel="stylesheet" type="text/css" href="css/public.css" />
        <link rel="stylesheet" type="text/css" href="css/fixed.css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/Area.js"></script>
        <script type="text/javascript" src="js/AreaData_min.js"></script> 
        <script type="text/javascript" src="js/select.js"></script>
        <script type="text/javascript" src="js/YMDClass.js"></script>
    </head>
    <body>
        <!-- header / start -->
        
        <!-- header / end -->
        <div class="find_service">
            <ul>
                <li></li>
            </ul>
        </div>
        <!-- user center / start -->
        <div class="userContent clearfix">
            <!-- left / start -->
            <div class="ucLeft">
                <h2>个人中心</h2>
                <div class="ucleftHead">
                    <a href="http://ziyawang.com/ucenter/safe"><img id="avatar" src="" /></a>
                    <span id="nickname"></span>
                </div>
                <div class="ucleftMiddle">
                    <a href="http://ziyawang.com/ucenter/message" class="sysInfo" title="系统消息"><i class="iconfont">&#xe61c;</i><span id="msg"></span></a>
                    <a href="http://ziyawang.com/ucenter/money" class="money" title="芽币金额"><span id="account"></span></a>
                </div>
                <div class="ucleftBottom">
                    <ul>
                        <li id="pubpro"><a href="http://ziyawang.com/ucenter/index"><i class="iconfont">&#xe61e;</i>发布信息</a></li>
                        <li id="mypro"><a href="http://ziyawang.com/ucenter/mypro"><i class="iconfont">&#xe61a;</i>我的发布</a></li>
                        <li id="confirm"><a href="http://ziyawang.com/ucenter/confirm"><i class="iconfont">&#xe60f;</i>服务方认证</a></li>
                        <li id="myrush" style="display:none;"><a href="http://ziyawang.com/ucenter/myrush"><i class="iconfont">&#xe619;</i>我的约谈</a></li>
                        <li id="money"><a href="http://ziyawang.com/ucenter/money"><i class="iconfont chongzhi">&#xe61f;</i>充值中心</a></li>
                        <li id="safe"><a href="http://ziyawang.com/ucenter/safe"><i class="iconfont">&#xe61d;</i>安全中心</a></li>
                        <li id="mycollect"><a href="http://ziyawang.com/ucenter/mycollect"><i class="iconfont">&#xe61b;</i>我的收藏</a></li>
                    </ul>
                </div>
            </div>
            <!-- left / end -->
            <!-- right / start -->
            <div class="fore">
                <div class="fore-con">
                    <h2 class="fore-title"><span>法拍资产</span><a href="javascript:;" class="depute">委托发布</a></h2>
                    <div class="fore-main">
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>资产类型：</span>
                            <span class="row-right">
                                <a class="land" href="foreclosed-land.html">
                                    <span class="inp-radio checked"></span>
                                    <span class="inp-label">土地</span><em class="wem2"></em>
                                </a>
                                <a class="house" href="foreclosed-house.html">
                                    <span class="inp-radio"></span>
                                    <span for="house" class="inp-label">房产</span><em class="wem2"></em>
                                </a>
                                <a class="car" href="foreclosed-car.html">
                                    <span class="inp-radio"></span>
                                    <span for="car" class="inp-label">汽车</span>
                                </a>
                            </span>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>面积：</span>
                            <input type="text" class="inps" placeholder="请输入数字" onkeyup="numLimit(this,this.value)" /><span class="tag">平米</span>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>性质：</span>
                            <select class="row-select">
                                <option value="0">请选择</option>
                                <option value="1">工业</option>
                                <option value="2">商业</option>
                                <option value="3">住宅</option>
                                <option value="4">其他</option>
                            </select>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>起拍价：</span>
                            <input type="text" class="inps" placeholder="请输入数字" onkeyup="numLimit(this,this.value)" /><span class="tag">万元</span>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>拍卖地点：</span>
                            <span class="region">
                                <select class="row-select" id="seachprov" onChange="changeComplexProvince(this.value, sub_array, 'seachcity', 'seachdistrict');"></select>
                                <select class="row-select" id="seachcity"></select>
                            </span>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>拍卖时间：</span>
                            <select name="year1" class="row-select select-time"></select>
                            <select name="month1" class="row-select select-time"></select>
                            <select name="day1" class="row-select select-time"></select>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>拍卖阶段：</span>
                            <span class="row-right">
                                <div class="land">
                                    <span class="inp-radio opts"><input type="radio" class="radios" id="firstPa" /></span>
                                    <label for="firstPa" class="inp-label">一拍</label><em class="wem2"></em>
                                </div>
                                <div class="house">
                                    <span class="inp-radio opts"><input type="radio" class="radios" id="secondPa" /></span>
                                    <label for="secondPa" class="inp-label">二拍</label><em class="wem2"></em>
                                </div>
                                <div class="car">
                                    <span class="inp-radio opts"><input type="radio" class="radios" id="thirdPa" /></span>
                                    <label for="thirdPa" class="inp-label">三拍</label>
                                </div>
                            </span>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>处置单位：</span>
                            <input type="text" class="inps" placeholder="请输入" /><span class="tag">（××法院）</span>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>文字描述：</span><span class="limit">（字数限制在500字以内）</span>
                            <textarea name="" id="" cols="30" rows="10" class="literal"></textarea>
                        </div>
                        <div class="row">
                            <span class="row-left">语音描述：</span>
                            <button class="add_voice" type="button">添加语音</button>
                            <p class="dib">注：语音描述仅限于手机app</p>
                        </div>
                        <div class="row">
                            <span class="row-left">上传图片：</span>
                            <div class="upload">
                                <span class="fileinput-button">
                                    <em>上传凭证</em>
                                    <input id="fileupload" type="file" name="files[]" data-url="http://ziyawang.com/ucenter/upload" multiple="" accept="image/png, image/gif, image/jpg, image/jpeg">
                                </span>                  
                            </div>
                            <p class="dib">如土地使用权证、房屋所有权证、发票等的原件扫描件或实物照片。请上传图片，大小限制2M</p>
                        </div>
                        <div class="img_box">
                            <div class="pictures"><img class="preview" id="PictureDes1" src="" picname=""><span class="deleteBtn1 deleteImg" title="删除"></span></div>
                            <div class="pictures"><img class="preview" id="PictureDes2" src="" picname=""><span class="deleteBtn2 deleteImg" title="删除"></span></div>
                            <div class="pictures"><img class="preview" id="PictureDes3" src="" picname=""><span class="deleteBtn3 deleteImg" title="删除"></span></div>
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>联系人姓名：</span>
                            <input type="text" class="inps" placeholder="请输入">
                        </div>
                        <div class="row">
                            <span class="row-left"><em class="must">*</em>联系电话：</span>
                            <input type="text" class="inps" placeholder="请输入">
                        </div>
                        <button class="issue-btn">确 认 发 布</button>
                    </div>
                </div>
            </div>
            <!-- right / end -->
        </div>
        <!-- user center / end -->
    </body>
</html>
<script type="text/javascript">
    $(function(){
        new YMDselect('year1','month1','day1');
        $(".row-select").change(function() {
            if($(this).children("option:selected").hasClass("grayColor")){
                $(this).css({"color":"#999"});   
            }else{
                $(this).css({"color":"#333"});   
            }
        });
        // House land switch
        $('.opts').click(function() {
            $(this).addClass('checked');
            $(this).parent().siblings().children('.opts').removeClass('checked');
            
        });
    })

</script>