<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资芽网</title>
    <link type="text/css" rel="stylesheet" href="css/base.css" />
    <link type="text/css" rel="stylesheet" href="css/public.css">
    <link type="text/css" rel="stylesheet" href="css/newsinfo.css" />
</head>
<body class="grey">
<!-- 头部 -->
<div class="header">
    <div class="wrap">
            <div class="guide">
                <a href="#">我的收藏</a>
                <a href="#">联系客服</a>
            </div>
            <div class="brum_login">
                <a href="#" class="viplog">会员登录</a>
                <a href="#" class="freereg">免费注册</a>
            </div>
            <ul class="nav">
                <li><a href="#">首页</a>|</li>
                <li><a href="#">找信息</a>|</li>
                <li class="current"><a href="#">找服务</a>|</li>
                <li><a href="#">新闻中心</a>|</li>
                <li><a href="#">资芽视频</a>|</li>
                <li><a href="#">合同下载</a></li>
            </ul>
            <div class="login">
                <h1 class="logo"><a href="index.html"><img src="img/logo.png" height="68" width="172" alt="首页" /></a></h1>
                <p class="logo_word">全球不良资产超级综服平台<p>
                
                <span class="arr"></span>
            </div>
            <div class="arrow"></div>
            <div class="hotline">服务热线：<br/>
                <span>400-000-9999</span>
            </div>
    </div>
</div>
<!-- 二级banner -->
<div class="find_service">
    <ul>
        <li></li>
    </ul>
</div>
<!-- 主体 -->
<div class="content clearfix">
<!-- 左侧 -->
    <div class="conLeft">
        <div class="news_bread conLeftTitle"><span class="newsBlue">资芽新闻</span>/Company News</div>
        <div class="clNewsBox">
            <div class="news_details">
                <h2 class="nd_title">温州银行业不良贷款首现“双降”</h2>
                <p class="nd_info">发表于：2016-7-1&nbsp;&nbsp;10:03&nbsp;&nbsp;&nbsp;&nbsp;阅读：9</p>
                <div class="nd_abstr"><strong>摘要：</strong>近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀升的状况，通过“细、强、优、深、净”五化促进...</div>
                <div class="newsContent">
                    <!-- <img class="nd_img" src="img/search_logo.png" /> -->
                    <p class="nd_content">截至今年5月末，全市银行业各项贷款余额7768亿元，较年初增加130.8亿元，同比增长2.65%，位居全省第6位，2015年前移了4位。他们持续优化信贷期限，对符合条件的企业发放固定资产贷款、技改贷款，拉长信贷期限。今年1至5月全市累计处置不良贷款112.2亿元，比去年同期多处置25.9亿元，增长30%，处置速度快于新发生速度，“风险突围”成效得到进一步巩固。逾期贷款占比6.80%，同比下降2.5个百分点，不良风险从源头上得到有效控制。并从深化企业帮扶入手，建立帮扶解困会商机制，出台银行帮扶风险企业和处置不良贷款自律公约，成功帮扶受担保链风险影响企业9114家，涉及风险敞口341亿元。同时，还建立分类帮扶机制，将企业分为重点保护类、重点帮扶类、资不抵债类和涉嫌“逃废债”等四种类型，分别予以扶持、协调、处置与打击；积极协助市政府制定银行“同进共退”帮扶企业实施意见，约束银行业发挥合力，理性帮扶</p>
                </div>
            </div>
            <div class="think clearfix">
                <span class="th_right">
                    <a href="javascript:;" class="collect" id="collect"><i class="iconfont">&#xe601;</i><span>收藏</span></a>
                    <div class="jiathis_style_32x32">
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank" id="share_asign"></a>
                    </div>
                    <span class="span_share">分享</span>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                </span>
            </div>
            <p class="prev_essay">上一篇：<a href="javascript:;" id="pre">东方资产控股大连银行获批</a></p>
            <p class="next_essay">下一篇：<a href="javascript:;" id="next">森造型资产控银行再次融资2000万</a></p>
        </div>
    </div>
    <!-- 右侧新闻 -->
    <div class="conRight">
        <div class="newsCom">
            <h2 class="nrc_title"><a href="{{url('/zynews')}}">资芽新闻</a><span>COMPANY&nbsp;NEWS</span></h2>
            <div class="nrc_fisrt" id="ziya1">
                <a href="javascript:;" class="nrc_img" title="温州银行业不良贷款首现“双降”"><img src="img/news4.png" /></a>
                <h2 class="nlc_title"><a href="javascript:;" title="温州银行业不良贷款首现“双降”">温州银行业不良贷款首现“双降”</a></h2>
                <p class="nrc_abstr">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀 ...</p>
            </div>
            <ul class="nrc_list" id="ziya2">
                <li><a href="javascript:;" title="信托公司争相布局资产证券化">信托公司争相布局资产证券化</a></li>
                <li><a href="javascript:;" title="甘肃省成立丝绸之路大数据公司，三星投...">甘肃省成立丝绸之路大数据公司，三星投...</a></li>
                <li><a href="javascript:;" title="信托公司争相布局资产证券化">信托公司争相布局资产证券化</a></li>
                <li><a href="javascript:;" title="甘肃省成立丝绸之路大数据公司，三星投...">甘肃省成立丝绸之路大数据公司，三星投...</a></li>
            </ul>
        </div>
        <div class="newsCom">
            <h2 class="nrc_title"><a href="{{url('/hynews')}}">行业动态</a><span>INDUSTRY&nbsp;NEWS</span></h2>
            <div class="nrc_fisrt" id="hangye1">
                <a href="javascript:;" class="nrc_img" title="温州银行业不良贷款首现“双降”"><img src="img/news4.png" /></a>
                <h2 class="nlc_title"><a href="javascript:;" title="温州银行业不良贷款首现“双降”">温州银行业不良贷款首现“双降”</a></h2>
                <p class="nrc_abstr">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀 ...</p>
            </div>
            <ul class="nrc_list" id="hangye2">
                <li><a href="javascript:;" title="信托公司争相布局资产证券化">信托公司争相布局资产证券化</a></li>
                <li><a href="javascript:;" title="甘肃省成立丝绸之路大数据公司，三星投...">甘肃省成立丝绸之路大数据公司，三星投...</a></li>
                <li><a href="javascript:;" title="信托公司争相布局资产证券化">信托公司争相布局资产证券化</a></li>
                <li><a href="javascript:;" title="甘肃省成立丝绸之路大数据公司，三星投...">甘肃省成立丝绸之路大数据公司，三星投...</a></li>
            </ul>
        </div>
        <div class="newsCom">
            <h2 class="nrc_title"><a href="{{url('/cjnews')}}">财经资讯</a><span>FINANCIAL&nbsp;NEWS</span></h2>
            <div class="nrc_fisrt" id="caijing1">
                <a href="javascript:;" class="nrc_img" title="温州银行业不良贷款首现“双降”"><img src="img/news4.png" /></a>
                <h2 class="nlc_title"><a href="javascript:;" title="温州银行业不良贷款首现“双降”">温州银行业不良贷款首现“双降”</a></h2>
                <p class="nrc_abstr">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀 ...</p>
            </div>
            <ul class="nrc_list" id="caijing2">
                <li><a href="javascript:;" title="信托公司争相布局资产证券化">信托公司争相布局资产证券化</a></li>
                <li><a href="javascript:;" title="甘肃省成立丝绸之路大数据公司，三星投...">甘肃省成立丝绸之路大数据公司，三星投...</a></li>
                <li><a href="javascript:;" title="信托公司争相布局资产证券化">信托公司争相布局资产证券化</a></li>
                <li><a href="javascript:;" title="甘肃省成立丝绸之路大数据公司，三星投...">甘肃省成立丝绸之路大数据公司，三星投...</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 底部 -->

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $('.collect').click(function() {
            if($(this).children('span').html()=='收藏'){
                $(this).children('i').addClass('red');
                $(this).children('span').html('已收藏');
            }else{
                $(this).children('i').removeClass('red');
                $(this).children('span').html('收藏');
            }
        });
    })
</script>